<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.javaboy.vmall.seller.auth.mapper.SellerMapper" >
  <resultMap id="BaseResultMap" type="org.javaboy.vmall.common.model.Seller" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="seller_nick" property="sellerNick" jdbcType="VARCHAR" />
    <result column="customer_remark" property="customerRemark" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="app_key" property="appKey" jdbcType="BIGINT" />
    <result column="app_secret" property="appSecret" jdbcType="VARCHAR" />
    <result column="callback_url" property="callbackUrl" jdbcType="VARCHAR" />
    <result column="refresh_token" property="refreshToken" jdbcType="VARCHAR" />
    <result column="w2_expires_in" property="w2ExpiresIn" jdbcType="BIGINT" />
    <result column="avatar" property="avatar" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="parent_nick" property="parentNick" jdbcType="VARCHAR" />
    <result column="subscribe_version" property="subscribeVersion" jdbcType="INTEGER" />
    <result column="dead_line" property="deadLine" jdbcType="TIMESTAMP" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="plus_time" property="plusTime" jdbcType="TIMESTAMP" />
    <result column="gift_version" property="giftVersion" jdbcType="INTEGER" />
    <result column="last_login_time" property="lastLoginTime" jdbcType="TIMESTAMP" />
    <result column="last_login_ip" property="lastLoginIp" jdbcType="VARCHAR" />
    <result column="settlement_type" property="settlementType" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="username" property="username" jdbcType="CHAR" />
    <result column="account_non_expired" property="accountNonExpired" jdbcType="BIT" />
    <result column="account_non_locked" property="accountNonLocked" jdbcType="BIT" />
    <result column="credentials_non_expired" property="credentialsNonExpired" jdbcType="BIT" />
    <result column="enabled" property="enabled" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, seller_nick, customer_remark, password, app_key, app_secret, callback_url, refresh_token, 
    w2_expires_in, avatar, mobile, email, parent_nick, subscribe_version, dead_line, 
    type, plus_time, gift_version, last_login_time, last_login_ip, settlement_type, create_time, 
    modify_time, username, account_non_expired, account_non_locked, credentials_non_expired, 
    enabled
  </sql>
  <select id="loadUserByUsername" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> from vmall_seller where username=#{username} or mobile=#{username} or email=#{username}
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from vmall_seller
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from vmall_seller
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="org.javaboy.vmall.common.model.Seller" >
    insert into vmall_seller (id, seller_nick, customer_remark, 
      password, app_key, app_secret, 
      callback_url, refresh_token, w2_expires_in, 
      avatar, mobile, email, 
      parent_nick, subscribe_version, dead_line, 
      type, plus_time, gift_version, 
      last_login_time, last_login_ip, settlement_type, 
      create_time, modify_time, username, 
      account_non_expired, account_non_locked, credentials_non_expired, 
      enabled)
    values (#{id,jdbcType=BIGINT}, #{sellerNick,jdbcType=VARCHAR}, #{customerRemark,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{appKey,jdbcType=BIGINT}, #{appSecret,jdbcType=VARCHAR}, 
      #{callbackUrl,jdbcType=VARCHAR}, #{refreshToken,jdbcType=VARCHAR}, #{w2ExpiresIn,jdbcType=BIGINT}, 
      #{avatar,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{parentNick,jdbcType=VARCHAR}, #{subscribeVersion,jdbcType=INTEGER}, #{deadLine,jdbcType=TIMESTAMP}, 
      #{type,jdbcType=INTEGER}, #{plusTime,jdbcType=TIMESTAMP}, #{giftVersion,jdbcType=INTEGER}, 
      #{lastLoginTime,jdbcType=TIMESTAMP}, #{lastLoginIp,jdbcType=VARCHAR}, #{settlementType,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP}, #{username,jdbcType=CHAR}, 
      #{accountNonExpired,jdbcType=BIT}, #{accountNonLocked,jdbcType=BIT}, #{credentialsNonExpired,jdbcType=BIT}, 
      #{enabled,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="org.javaboy.vmall.common.model.Seller" >
    insert into vmall_seller
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="sellerNick != null" >
        seller_nick,
      </if>
      <if test="customerRemark != null" >
        customer_remark,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="appKey != null" >
        app_key,
      </if>
      <if test="appSecret != null" >
        app_secret,
      </if>
      <if test="callbackUrl != null" >
        callback_url,
      </if>
      <if test="refreshToken != null" >
        refresh_token,
      </if>
      <if test="w2ExpiresIn != null" >
        w2_expires_in,
      </if>
      <if test="avatar != null" >
        avatar,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="parentNick != null" >
        parent_nick,
      </if>
      <if test="subscribeVersion != null" >
        subscribe_version,
      </if>
      <if test="deadLine != null" >
        dead_line,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="plusTime != null" >
        plus_time,
      </if>
      <if test="giftVersion != null" >
        gift_version,
      </if>
      <if test="lastLoginTime != null" >
        last_login_time,
      </if>
      <if test="lastLoginIp != null" >
        last_login_ip,
      </if>
      <if test="settlementType != null" >
        settlement_type,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="accountNonExpired != null" >
        account_non_expired,
      </if>
      <if test="accountNonLocked != null" >
        account_non_locked,
      </if>
      <if test="credentialsNonExpired != null" >
        credentials_non_expired,
      </if>
      <if test="enabled != null" >
        enabled,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="sellerNick != null" >
        #{sellerNick,jdbcType=VARCHAR},
      </if>
      <if test="customerRemark != null" >
        #{customerRemark,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="appKey != null" >
        #{appKey,jdbcType=BIGINT},
      </if>
      <if test="appSecret != null" >
        #{appSecret,jdbcType=VARCHAR},
      </if>
      <if test="callbackUrl != null" >
        #{callbackUrl,jdbcType=VARCHAR},
      </if>
      <if test="refreshToken != null" >
        #{refreshToken,jdbcType=VARCHAR},
      </if>
      <if test="w2ExpiresIn != null" >
        #{w2ExpiresIn,jdbcType=BIGINT},
      </if>
      <if test="avatar != null" >
        #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="parentNick != null" >
        #{parentNick,jdbcType=VARCHAR},
      </if>
      <if test="subscribeVersion != null" >
        #{subscribeVersion,jdbcType=INTEGER},
      </if>
      <if test="deadLine != null" >
        #{deadLine,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="plusTime != null" >
        #{plusTime,jdbcType=TIMESTAMP},
      </if>
      <if test="giftVersion != null" >
        #{giftVersion,jdbcType=INTEGER},
      </if>
      <if test="lastLoginTime != null" >
        #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLoginIp != null" >
        #{lastLoginIp,jdbcType=VARCHAR},
      </if>
      <if test="settlementType != null" >
        #{settlementType,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="username != null" >
        #{username,jdbcType=CHAR},
      </if>
      <if test="accountNonExpired != null" >
        #{accountNonExpired,jdbcType=BIT},
      </if>
      <if test="accountNonLocked != null" >
        #{accountNonLocked,jdbcType=BIT},
      </if>
      <if test="credentialsNonExpired != null" >
        #{credentialsNonExpired,jdbcType=BIT},
      </if>
      <if test="enabled != null" >
        #{enabled,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.javaboy.vmall.common.model.Seller" >
    update vmall_seller
    <set >
      <if test="sellerNick != null" >
        seller_nick = #{sellerNick,jdbcType=VARCHAR},
      </if>
      <if test="customerRemark != null" >
        customer_remark = #{customerRemark,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="appKey != null" >
        app_key = #{appKey,jdbcType=BIGINT},
      </if>
      <if test="appSecret != null" >
        app_secret = #{appSecret,jdbcType=VARCHAR},
      </if>
      <if test="callbackUrl != null" >
        callback_url = #{callbackUrl,jdbcType=VARCHAR},
      </if>
      <if test="refreshToken != null" >
        refresh_token = #{refreshToken,jdbcType=VARCHAR},
      </if>
      <if test="w2ExpiresIn != null" >
        w2_expires_in = #{w2ExpiresIn,jdbcType=BIGINT},
      </if>
      <if test="avatar != null" >
        avatar = #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="parentNick != null" >
        parent_nick = #{parentNick,jdbcType=VARCHAR},
      </if>
      <if test="subscribeVersion != null" >
        subscribe_version = #{subscribeVersion,jdbcType=INTEGER},
      </if>
      <if test="deadLine != null" >
        dead_line = #{deadLine,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="plusTime != null" >
        plus_time = #{plusTime,jdbcType=TIMESTAMP},
      </if>
      <if test="giftVersion != null" >
        gift_version = #{giftVersion,jdbcType=INTEGER},
      </if>
      <if test="lastLoginTime != null" >
        last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLoginIp != null" >
        last_login_ip = #{lastLoginIp,jdbcType=VARCHAR},
      </if>
      <if test="settlementType != null" >
        settlement_type = #{settlementType,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="username != null" >
        username = #{username,jdbcType=CHAR},
      </if>
      <if test="accountNonExpired != null" >
        account_non_expired = #{accountNonExpired,jdbcType=BIT},
      </if>
      <if test="accountNonLocked != null" >
        account_non_locked = #{accountNonLocked,jdbcType=BIT},
      </if>
      <if test="credentialsNonExpired != null" >
        credentials_non_expired = #{credentialsNonExpired,jdbcType=BIT},
      </if>
      <if test="enabled != null" >
        enabled = #{enabled,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.javaboy.vmall.common.model.Seller" >
    update vmall_seller
    set seller_nick = #{sellerNick,jdbcType=VARCHAR},
      customer_remark = #{customerRemark,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      app_key = #{appKey,jdbcType=BIGINT},
      app_secret = #{appSecret,jdbcType=VARCHAR},
      callback_url = #{callbackUrl,jdbcType=VARCHAR},
      refresh_token = #{refreshToken,jdbcType=VARCHAR},
      w2_expires_in = #{w2ExpiresIn,jdbcType=BIGINT},
      avatar = #{avatar,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      parent_nick = #{parentNick,jdbcType=VARCHAR},
      subscribe_version = #{subscribeVersion,jdbcType=INTEGER},
      dead_line = #{deadLine,jdbcType=TIMESTAMP},
      type = #{type,jdbcType=INTEGER},
      plus_time = #{plusTime,jdbcType=TIMESTAMP},
      gift_version = #{giftVersion,jdbcType=INTEGER},
      last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      last_login_ip = #{lastLoginIp,jdbcType=VARCHAR},
      settlement_type = #{settlementType,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      username = #{username,jdbcType=CHAR},
      account_non_expired = #{accountNonExpired,jdbcType=BIT},
      account_non_locked = #{accountNonLocked,jdbcType=BIT},
      credentials_non_expired = #{credentialsNonExpired,jdbcType=BIT},
      enabled = #{enabled,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>